<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512927156289-9mhmmre2kkdl3em5qtousp60sb8vv9rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512927156289-9mhmmre2kkdl3em5qtousp60sb8vv9rc</string>
	<key>API_KEY</key>
	<string>AIzaSyDsCvmijthwPEiZPFv6EZYxmVngRVOmix0</string>
	<key>GCM_SENDER_ID</key>
	<string>512927156289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letJamie.MarketApp</string>
	<key>PROJECT_ID</key>
	<string>marketapp-469b7</string>
	<key>STORAGE_BUCKET</key>
	<string>marketapp-469b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512927156289:ios:4130021c08f0a7a8565ec0</string>
	<key>DATABASE_URL</key>
	<string>https://marketapp-469b7.firebaseio.com</string>
</dict>
</plist>